# Lecture 2

In [27]:
x <- list("California", c(1,3,5,1), 92, TRUE)
x
x[1]
x[[1]]
substr(x[[1]], 1,4)
x[[2]][2:3]
x[c(2,4)]  #coerce 92 to boolean
x[[c(2,3)]] == x[[2]][3]

[[1]]
[1] "California"

[[2]]
[1] 1 3 5 1

[[3]]
[1] 92

[[4]]
[1] TRUE

[[1]]
[1] "California"

[1] "California"

[1] "Cali"

[1] 3 5

[[1]]
[1] 1 3 5 1

[[2]]
[1] TRUE

[1] TRUE

In [36]:
x <- list(state="CA",co=c(1,3,5,1),loc=92)
x$state
x$state == x[["state"]]
x$co
x$loc

[1] "CA"

[1] TRUE

[1] 1 3 5 1

[1] 92

In [28]:
x <- vector('list', length=2)
x

[[1]]
NULL

[[2]]
NULL

In [46]:
x <- data.frame(var1 = 1:4, var2 = c(T, T, F, F), var3=factor(c(1,1,2,1)))
x
x[2,3]
x[3,2]
#same way to reference a column
x[,2]
x$var2
x[['var2']]

  var1 var2  var3
1 1     TRUE 1
2 2     TRUE 1
3 3    FALSE 2
4 4    FALSE 1

[1] 1
Levels: 1 2

[1] FALSE

[1]  TRUE  TRUE FALSE FALSE

[1]  TRUE  TRUE FALSE FALSE

[1]  TRUE  TRUE FALSE FALSE

In [62]:
data(airquality)
#select rows with temp>80, and only coumns Ozone and Temp, 
x <- subset(airquality, Temp>80, select= c(Ozone,Temp))
#display top 10 results
head(x, 10) 

#order by col "Temp" in descending order, (thus the negative sign)
head(x[with(x, order(-Temp)), ], 10)

   Ozone Temp
29 45    81
35 NA    84
36 NA    85
38 29    82
39 NA    87
40 71    90
41 39    87
42 NA    93
43 NA    92
44 23    82

    Ozone Temp
120  76   97
122  84   96
121 118   94
123  85   94
42   NA   93
126  73   93
127  91   93
43   NA   92
69   97   92
70   97   92

In [66]:
# -Temp exludes temp column
x <- subset(airquality, Day==1, select=-Temp)
head(x,10)

# selecting range of columns between ozone and wind, inclusive
x <- subset(airquality, select = Ozone:Wind)
head(x,10)

    Ozone Solar.R Wind Month Day
1    41   190     7.4  5     1
32   NA   286     8.6  6     1
62  135   269     4.1  7     1
93   39    83     6.9  8     1
124  96   167     6.9  9     1

   Ozone Solar.R Wind
1  41    190      7.4
2  36    118      8.0
3  12    149     12.6
4  18    313     11.5
5  NA     NA     14.3
6  28     NA     14.9
7  23    299      8.6
8  19     99     13.8
9   8     19     20.1
10 NA    194      8.6

In [69]:
#attaching dataframes
x <- data.frame(var1 = 1:4, var2 = c(T, T, F, F), var3=factor(c(1,1,2,1))) 
var1  # var1 not found without referencing the dataframe, could attach as below

ERROR: Error in eval(expr, envir, enclos): object 'var1' not found

In [79]:
x <- data.frame(var1 = 1:4, var2 = c(T, T, F, F), var3=factor(c(1,1,2,1))) 
attach(x)
var1
detach(x)

The following objects are masked from x (pos = 3):

    var1, var2, var3

[1] 1 2 3 4

In [81]:
# transforming dataframes (setting ozone to be negative values)
transform(airquality, Ozone=-Ozone)

# add column "celsius 
transform(airquality, Temp.celcius=(Temp-32)/1.8)

    Ozone Solar.R Wind Temp Month Day
1    -41  190      7.4 67   5      1
2    -36  118      8.0 72   5      2
3    -12  149     12.6 74   5      3
4    -18  313     11.5 62   5      4
5     NA   NA     14.3 56   5      5
6    -28   NA     14.9 66   5      6
7    -23  299      8.6 65   5      7
8    -19   99     13.8 59   5      8
9     -8   19     20.1 61   5      9
10    NA  194      8.6 69   5     10
11    -7   NA      6.9 74   5     11
12   -16  256      9.7 69   5     12
13   -11  290      9.2 66   5     13
14   -14  274     10.9 68   5     14
15   -18   65     13.2 58   5     15
16   -14  334     11.5 64   5     16
17   -34  307     12.0 66   5     17
18    -6   78     18.4 57   5     18
19   -30  322     11.5 68   5     19
20   -11   44      9.7 62   5     20
21    -1    8      9.7 59   5     21
22   -11  320     16.6 73   5     22
23    -4   25      9.7 61   5     23
24   -32   92     12.0 61   5     24
25    NA   66     16.6 57   5     25
26    NA  266     14.9 58   5     26
27    NA   NA      8.0 57   5     27
28   -23   13     12.0 67   5     28
29   -45  252     14.9 81   5     29
30  -115  223      5.7 79   5     30
... ...   ...     ...  ...  ...   ...
124 -96   167      6.9 91   9      1
125 -78   197      5.1 92   9      2
126 -73   183      2.8 93   9      3
127 -91   189      4.6 93   9      4
128 -47    95      7.4 87   9      5
129 -32    92     15.5 84   9      6
130 -20   252     10.9 80   9      7
131 -23   220     10.3 78   9      8
132 -21   230     10.9 75   9      9
133 -24   259      9.7 73   9     10
134 -44   236     14.9 81   9     11
135 -21   259     15.5 76   9     12
136 -28   238      6.3 77   9     13
137  -9    24     10.9 71   9     14
138 -13   112     11.5 71   9     15
139 -46   237      6.9 78   9     16
140 -18   224     13.8 67   9     17
141 -13    27     10.3 76   9     18
142 -24   238     10.3 68   9     19
143 -16   201      8.0 82   9     20
144 -13   238     12.6 64   9     21
145 -23    14      9.2 71   9     22
146 -36   139     10.3 81   9     23
147  -7    49     10.3 69   9     24
148 -14    20     16.6 63   9     25
149 -30   193      6.9 70   9     26
150  NA   145     13.2 77   9     27
151 -14   191     14.3 75   9     28
152 -18   131      8.0 76   9     29
153 -20   223     11.5 68   9     30

    Ozone Solar.R Wind Temp Month Day Temp.celcius
1    41   190      7.4 67   5      1  19.44444
2    36   118      8.0 72   5      2  22.22222
3    12   149     12.6 74   5      3  23.33333
4    18   313     11.5 62   5      4  16.66667
5    NA    NA     14.3 56   5      5  13.33333
6    28    NA     14.9 66   5      6  18.88889
7    23   299      8.6 65   5      7  18.33333
8    19    99     13.8 59   5      8  15.00000
9     8    19     20.1 61   5      9  16.11111
10   NA   194      8.6 69   5     10  20.55556
11    7    NA      6.9 74   5     11  23.33333
12   16   256      9.7 69   5     12  20.55556
13   11   290      9.2 66   5     13  18.88889
14   14   274     10.9 68   5     14  20.00000
15   18    65     13.2 58   5     15  14.44444
16   14   334     11.5 64   5     16  17.77778
17   34   307     12.0 66   5     17  18.88889
18    6    78     18.4 57   5     18  13.88889
19   30   322     11.5 68   5     19  20.00000
20   11    44      9.7 62   5     20  16.66667
21    1     8      9.7 59   5     21  15.00000
22   11   320     16.6 73   5     22  22.77778
23    4    25      9.7 61   5     23  16.11111
24   32    92     12.0 61   5     24  16.11111
25   NA    66     16.6 57   5     25  13.88889
26   NA   266     14.9 58   5     26  14.44444
27   NA    NA      8.0 57   5     27  13.88889
28   23    13     12.0 67   5     28  19.44444
29   45   252     14.9 81   5     29  27.22222
30  115   223      5.7 79   5     30  26.11111
... ...   ...     ...  ...  ...   ... ...
124 96    167      6.9 91   9      1  32.77778
125 78    197      5.1 92   9      2  33.33333
126 73    183      2.8 93   9      3  33.88889
127 91    189      4.6 93   9      4  33.88889
128 47     95      7.4 87   9      5  30.55556
129 32     92     15.5 84   9      6  28.88889
130 20    252     10.9 80   9      7  26.66667
131 23    220     10.3 78   9      8  25.55556
132 21    230     10.9 75   9      9  23.88889
133 24    259      9.7 73   9     10  22.77778
134 44    236     14.9 81   9     11  27.22222
135 21    259     15.5 76   9     12  24.44444
136 28    238      6.3 77   9     13  25.00000
137  9     24     10.9 71   9     14  21.66667
138 13    112     11.5 71   9     15  21.66667
139 46    237      6.9 78   9     16  25.55556
140 18    224     13.8 67   9     17  19.44444
141 13     27     10.3 76   9     18  24.44444
142 24    238     10.3 68   9     19  20.00000
143 16    201      8.0 82   9     20  27.77778
144 13    238     12.6 64   9     21  17.77778
145 23     14      9.2 71   9     22  21.66667
146 36    139     10.3 81   9     23  27.22222
147  7     49     10.3 69   9     24  20.55556
148 14     20     16.6 63   9     25  17.22222
149 30    193      6.9 70   9     26  21.11111
150 NA    145     13.2 77   9     27  25.00000
151 14    191     14.3 75   9     28  23.88889
152 18    131      8.0 76   9     29  24.44444
153 20    223     11.5 68   9     30  20.00000

In [89]:
head(state.x77, 5)
head(state.region, 5)
aggregate(state.x77, list(Region = state.region), mean)

           Population Income Illiteracy Life Exp Murder HS Grad Frost Area
Alabama     3615      3624   2.1        69.05    15.1   41.3     20    50708
Alaska       365      6315   1.5        69.31    11.3   66.7    152   566432
Arizona     2212      4530   1.8        70.55     7.8   58.1     15   113417
Arkansas    2110      3378   1.9        70.66    10.1   39.9     65    51945
California 21198      5114   1.1        71.71    10.3   62.6     20   156361

[1] South West  West  South West
Levels: Northeast South North Central West

  Region        Population Income   Illiteracy Life Exp Murder    HS Grad
1 Northeast     5495.111   4570.222 1.000000   71.26444  4.722222 53.96667
2 South         4208.125   4011.938 1.737500   69.70625 10.581250 44.34375
3 North Central 4803.000   4611.083 0.700000   71.76667  5.275000 54.51667
4 West          2915.308   4702.615 1.023077   71.23462  7.215385 62.00000
  Frost    Area
1 132.7778  18141.00
2  64.6250  54605.12
3 138.8333  62652.00
4 102.1538 134463.00

# lecture 3

In [3]:
# example of function (log odds ratio)
logit = function(x){
    return(log(x/(1-x)))
}
logit(runif(3,0,1))

[1] 2.6356465 4.5929797 0.2643583

In [4]:
# example of a one-line function
norm = function(x) sqrt(x%*%x)
norm(1:4)

     [,1]
[1,] 5.477226

In [8]:
# positional matching (x) and matching by name (a and b)
f = function(x, a=1, b=0) a*x^2+b
f(2)
f(2,2)
f(2,2,2)

[1] 4

[1] 8

[1] 10

In [10]:
#function chaining
x = c(1,2,-1,4,0)
summarizex = function(x, ff){
    z = ff(x)
    return(z)}
summarizex(x, mean)
summarizex(x, median)

[1] 1.2

[1] 1

In [12]:
#lexical scoping means it will look beyond function scope (environment) to other scopes
b = 4  # this is where the function finds b
f = function(x,y){
    return (x+y/b)  # can't find b here, so will search elsewhere
}
f(3,2)

[1] 3.5

In [14]:
#... is like *kwargs argument matching
args(paste)

function (..., sep = " ", collapse = NULL)
NULL

In [16]:
# import a script (of functions) or run a script
?source

In [17]:
# basic for loop
for (i in 1:3){
    print(2*i)
}

[1] 2
[1] 4
[1] 6

In [20]:
# loops can handle mixed types
countries = c('CA','NE','OR')
for (i in countries){
    print(i)
}

[1] "CA"
[1] "NE"
[1] "OR"
[1] "1"

In [23]:
# loops HATE iterables of len 0
n=1
for (i in 1:n){
    print(i)
}
print('loop of len 0:')
n=0
for (i in 1:n){
    print(i)
}

[1] 1
[1] "loop of len 0:"
[1] 1
[1] 0

In [3]:
# while loops
x =1
while(x<10){
    x = x^2 + 1
    print(x)
}

[1] 2
[1] 5
[1] 26

In [4]:
# break exits loop immediately
# next skips remaining iterations of the loop

In [ ]:
x = numeric(0)
for(i in 1:10){
    x[i] = i} #Bad (slow)!

In [ ]:
x = numeric(0)
for(i in 1:10){
    x = c(x,i)} #Even worse(slower)!

In [ ]:
x = numeric(10)  # pre allocate memory
    for(i in 1:10){
x[i] = i} #Better!

In [ ]:
x = rexp(1000000,rate=1)
logown = function(x){
    z = rep(0, length(x))
    for(i in 1:length(x)){
        z[i] = log(x[i])}
    return(z)}

In [6]:
x = matrix(rnorm(6000), nrow=10000, ncol=6)
apply(x, 2, mean) 
#Easy to read: 
#     x is matrix, 
#     2 is iterate over each column (1 would iterate over each row, 
#     mean is operation to apply)
#     any other parameter is ... which feeds the arguments for the operation to apply 

z = numeric(6) #C style, more convoluted
for(i in 1:6){
    z[i] = mean(x[,i])}
z

[1] -0.013900531 -0.001812715  0.004191994 -0.013900531 -0.001812715
[6]  0.004191994

[1] -0.013900531 -0.001812715  0.004191994 -0.013900531 -0.001812715
[6]  0.004191994

In [7]:
x = matrix(rnorm(6000), ncol=3)
apply(x, 2, quantile, c(0.025,0.975)) # quantile is run once for each argument in c(0.025,0.975)

      [,1]      [,2]      [,3]
2.5%  -2.010342 -2.070761 -1.794531
97.5%  1.899236  1.917792  1.949841

In [9]:
# standardization
S = matrix(1,2,2)
x = c(2,4)  # applies 2 and 4 down first columns and recycles 2 and 4 again for the second column
S/x

     [,1] [,2]
[1,] 0.50 0.50
[2,] 0.25 0.25

In [11]:
# only computes diagonal, would neccesitate a nest for loop
x = seq(-2,2,length=50)
y = seq(-2,2,length=50)
f = function(x,y) x^2 + y^2
f(x,y) = function(x,y) x^2 + y^2

# but this is vectorized below
z = expand.grid(x,y)
f(z[,1], z[,2])

ERROR: Error in f(x, y) = function(x, y) x^2 + y^2: could not find function "f<-"

In [13]:
# conditionals
x =7
if (x<=10) {
    print('less than or equal to 10')}
else {
    print('greater than 10')
}

ERROR: Error in parse(text = x, srcfile = src): <text>:5:1: unexpected 'else'
4:     print('less than or equal to 10')}
5: else
   ^

In [ ]:
# if or else is not vectorized (will only do first element of vector)

In [18]:
# integration
x = integrate(sin, 0, pi) # 0 and pi are limits of the integration
x
names(x)
x$subdivisions
x$value

# or use it o\in your own function
f = function(x) x^2+1
y = integrate(f, -2,2)
names(y)
y$subdivisions
y$value

2 with absolute error < 2.2e-14

[1] "value"        "abs.error"    "subdivisions" "message"      "call"

[1] 1

[1] 2

[1] "value"        "abs.error"    "subdivisions" "message"      "call"

[1] 1

[1] 9.333333

In [19]:
f= function(x,b) x^2+b
    integrate(f,-2,2,1)  # last argument, 1, is value of b

9.333333 with absolute error < 1e-13

In [ ]:
# f = function(x) 2.0
#     integrate

In [ ]:
# optimizations

In [7]:
statedf <- data.frame(state.x77)
statedf$pop_class <- ifelse(statedf$Population > 10000, "so crowded!", 'where is everyone?')
statedf$frost_class <- ifelse(statedf$Frost > 100, "crampons", "flipflops")

table(statedf[,9], statedf[,10])

                     crampons flipflops
  so crowded!               3         3
  where is everyone?       27        17

In [9]:
table(statedf[,'pop_class'], statedf[,'frost_class'])

                     crampons flipflops
  so crowded!               3         3
  where is everyone?       27        17