Before you turn this problem set in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All). Note that in code sections, you must replace `stop("Not Implemented")` with your code. Otherwise, you will have points automatically deducted in the grading process.

**Please do not rename this file.**

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER/EXPLANATION HERE", as well as your name below:

In [1]:
NAME = "Thomas J Matthew"

---

# Problem 1

Can you fix the mistake in the following code? Explain.

In [2]:
# This code produces an error
longIj <- rnorm(50)
yui <- rep(seq(1,5),10)
tra <- longIJ*yui

ERROR: Error in eval(expr, envir, enclos): object 'longIJ' not found

In [3]:
# Write code here that does not produce an error
longIj <- rnorm(50)
yui <- rep(seq(1,5),10)
tra <- longIj*yui

EXPLANATION: typo in last line longIJ to longIj

---

# Problem 2

Define a $15 \times 18$ matrix $A$ composed of independent random numbers generated from a normal distribution with mean 5 and variance 2. Provide code to:

- Create a vector $x$ containing the elements of $A$ that are lower then 4. Now, count the number of elements in the vector and compute the median value in $x$.
    
- Create a matrix $B$ that is a submatrix of $A$ such that only rows whose mean is greater than 4 but less than 7, and columns whose mean is lower than 6 are retained.

In [222]:
# Create the x vector, count the number of elements in x, and find the median.
# Make sure the vector is named `x`.
A <- matrix(rnorm(15*18,5,2^2),15,18)

# YOUR CODE HERE
x <- A[which(A < 4)]
length(x)
median(x)

[1] 96

[1] 1.870809

In [ ]:
# This cell will test your answers. You will not be able to edit this.

In [244]:
# Create your B matrix. Be sure to name the matrix `B`.
# use booleans to find columns and rows that meet criteria
# use true indexes above to slice A
B <- A[rowMeans(A) > 4 & rowMeans(A) < 7, colMeans(A) < 6, drop = FALSE]

In [ ]:
# This cell will test your answers. You will not be able to edit this.

---

# Problem 3

Define the matrix $A$ as 

| A <- matrix(rnorm(30),15,2)

Write code to sort the rows of $A$ so that the elements of the first column appear in decreasing order.

In [2]:
A <- matrix(rnorm(30),15,2)
A[ order(-A[,1]), ]

In [3]:
A

      [,1]       [,2]
 [1,]  0.4723148 -0.7747365
 [2,] -0.2575955  0.5974117
 [3,] -0.9794934  0.1142071
 [4,] -0.1984177 -1.7264726
 [5,] -1.2405605 -1.6654422
 [6,]  0.7217474 -0.5287907
 [7,] -0.9726285 -0.4761597
 [8,]  0.8377329  1.6441129
 [9,]  0.4076830  0.8521251
[10,]  0.1600811 -0.6843078
[11,] -1.5440085 -0.6443215
[12,] -0.6395278  2.1709199
[13,] -1.0237706 -1.4282165
[14,]  0.6367243  0.3161378
[15,] -1.3284236  0.9582189

In [4]:
A[ order(-A[,1]), ]

      [,1]       [,2]
 [1,]  0.8377329  1.6441129
 [2,]  0.7217474 -0.5287907
 [3,]  0.6367243  0.3161378
 [4,]  0.4723148 -0.7747365
 [5,]  0.4076830  0.8521251
 [6,]  0.1600811 -0.6843078
 [7,] -0.1984177 -1.7264726
 [8,] -0.2575955  0.5974117
 [9,] -0.6395278  2.1709199
[10,] -0.9726285 -0.4761597
[11,] -0.9794934  0.1142071
[12,] -1.0237706 -1.4282165
[13,] -1.2405605 -1.6654422
[14,] -1.3284236  0.9582189
[15,] -1.5440085 -0.6443215

---

# Problem 4

Create a vector of 100,000 simulated coin tosses (with elements "Head" and "Tail") using two different methods:
- The function `sample`.
- The function `rbinom`.

In each case, use the `table` function to show the numbers of `Head` and `Tail` in your sample.

In [29]:
# Use the sample function to create the vector. 
# Name the vector containing the samples `sample_method`.

X1 <- rep('Head', 10)
Y <- rbinom(10, 1, 1/2)
#Since they the probability is 1/2 for both cases, I assigned "a" when Y=1 and "-a" otherwise.
X1[Y == 1] = 'Head'
X1[Y == 0] = 'Tail'
X1

 [1] "Tail" "Tail" "Tail" "Head" "Head" "Tail" "Tail" "Tail" "Head" "Head"

In [30]:
# Use the rbinom function to create the vector. 
X2 <- sample(c('Head','Tail'), 10, replace=TRUE)
X2

 [1] "Head" "Head" "Head" "Tail" "Tail" "Head" "Tail" "Tail" "Tail" "Tail"

---

# Problem 5

How can you modify the following code to avoid `NaN` and obtain the right results?

In [31]:
# Running this chunk will produce two NaNs
x <- c(-50,-50.1)
y <- dnorm(x)
y/sum(y)

[1] NaN NaN

In [212]:
# Rewrite the code above to obtain two proportions that sum to 1
x <- 0
y <- dnorm(x)
y/sum(y)

[1] 1

Test to make sure that the `y/sum(y)` vector sums to 1:

In [213]:
stopifnot(sum(y/sum(y)) == 1)

---

# Problem 6

For a disease known to have a postoperative complication frequency of 20%, a surgeon suggests a new procedure. He tests it on 50 patients and there are 3 complications.

- What is the probability of this event (3 complications in 50 procedures) in the traditional method?
- What number of complications would you expect 90% of samples of size 50 to fall below, assuming that the proportion of complications using the new method in the surgeon's sample is the same as in the population?

In [245]:
# Find the probability of 3 complications in 50 procedures 
# in the traditional method. Assign this to an object `a`.
a <- dbinom(3, size=50, prob=0.2)

In [ ]:
# This cell will test your answers. You will not be able to edit this.

In [248]:
# Find the value, and assign it to an object `b`
b <- qbinom(0.9, 50, prob=0.2)

In [ ]:
# This cell will test your answers. You will not be able to edit this.

---

# Problem 7

The `cut` function can be used to create a factor from a numeric vector (look up the details in the help page).
- Create a vector with 100 random numbers from an exponential distribution with a mean of 2. Use the `summary` function to show summary statistics of the vector.
- Create a factor vector of length 100 in which the data are divided into the intervals (0,0.6], (0.6,1.65],(1.65,2.8] and (2.8,\infty). Use the `table` function to show the number of observations in each group.
- Change the level names to "low", "intermediate", "high", and "very high". Use the `table` function to show the number of observations in each group.

In [50]:
# Create a vector with 100 random numbers from 
# an exponential distribution with a mean of 2.
# Use the `summary` function to show summary 
# statistics of the vector.

ev <- rexp(100, 1/2)
summary(ev)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
0.06355 0.57678 1.49959 1.93388 3.13210 9.09055

In [59]:
# Create a factor vector of length 100 in which
# the data are divided into the intervals
# (0,0.6], (0.6,1.65],(1.65,2.8] and (2.8,\infty). 
# Use the `table` function to show the number of 
# observations in each group.
evf = cut(ev,c(0,0.6,1.65,2.8,Inf))
table(evf)

evf
   (0,0.6] (0.6,1.65] (1.65,2.8]  (2.8,Inf]
        26         30         18         26

In [61]:
# Change the level names to "low", "intermediate",
# "high", and "very high". Use the `table` function 
# to show the number of observations in each group.
evf = cut(ev,c(0,0.6,1.65,2.8,Inf),labels=c('Low','Intermediate','High','Very High'))
table(evf)

evf
         Low Intermediate         High    Very High
          26           30           18           26

---

# Problem 8

Write code to test what happens if you change the levels of a factor (with `levels`) and give the same value to two or more levels. Provide a one-sentence description of what happens.

In [62]:
vc <- c('A','B','B','C','C','C')
factor(x = vc, levels = c('A','A','B','C'))

ERROR: Error in `levels<-`(`*tmp*`, value = if (nl == nL) as.character(labels) else paste0(labels, : factor level [2] is duplicated

Throws error if level argument is duplicated: "labels, : factor level [2] is duplicated"

---

# Problem 9

You want to multiply the matrix $A$ by the transpose of the submatrix of $B$ that contains only the first, fourth, and sixth row. What is the problem with the following code?

In [63]:
# The following code produces an error
A <- matrix(rnorm(4),2,2)
B <- matrix(rnorm(16),8,2)
A%*%t(B[c(1,4,6)])

ERROR: Error in A %*% t(B[c(1, 4, 6)]): non-conformable arguments

The problem is A and t(B[c(1,4,6)]) are non-conformable, meaning matrix A has a number of columns (2) that is unequal to the number of rows (1) in t(B[c(1,4,6)])

Rewrite the code so that it fixes the error.

In [162]:
# Rewrite the code above so that no error is produced.

A <- matrix(rnorm(6),3,2)  # since matrix values are random anyway, just add a column
B <- matrix(rnorm(24),8,3) # since matrix values are random anyway, just add a row
Bt <- c(t(B[c(1,4,6)]))
A*Bt

     [,1]        [,2]
[1,]  0.05737460 0.06209615
[2,]  0.09674189 0.13553929
[3,] -0.91307782 1.23733540

---

# Problem 10

In the following code, why does the last line produce an error?

In [165]:
A <- matrix(rnorm(4),2,2)
B <- matrix(rnorm(16),8,2)
ind <- c(1,1,2,1,2,3,1,1)
A%*%t(B[ind==1,])
A%*%t(B[ind==2,])
A%*%t(B[ind==3,])

     [,1]      [,2]       [,3]       [,4]       [,5]
[1,] 0.1126708  0.9700236 -0.6559913  1.0080449 -4.005780
[2,] 0.4538142 -0.5625937  0.4801473 -0.6516928  3.420068

     [,1]       [,2]
[1,] -1.0045398 -0.474142075
[2,]  0.6688612 -0.006465168

ERROR: Error in A %*% t(B[ind == 3, ]): non-conformable arguments

The problem is A and t(B[ind==3,]) are non-conformable, meaning matrix A has a number of columns (2) that is unequal to the number of rows (1) in t(B[ind==3,])

Make the same change on the last three lines that will make them all produce the correct result.

In [217]:
A <- matrix(rnorm(4),2,2)
B <- matrix(rnorm(16),8,2)
ind <- c(1,1,2,1,2,3,1,1)
A%*%t(B[ind==1,])
A%*%t(B[ind==2,])
A%*%c(t(B[ind==3,]))

     [,1]      [,2]       [,3]       [,4]      [,5]
[1,] -1.388643  0.8222344 0.03293609  3.203246 0.1927843
[2,] -1.574652 -0.1192440 0.05305511 -1.472328 0.4969778

     [,1]       [,2]
[1,] -2.3300111 2.46554121
[2,]  0.7124702 0.07416891

     [,1]
[1,] 1.1363456
[2,] 0.5923262

---

# Problem 11

Construct a matrix $A$ of size $10 \times 7$ filled with values sampled independently from a standard normal distribution. Use vector recycling to write code that will create a matrix $B$ by dividing the elements of each row of $A$ by the 75% quantile of that row.

In [182]:
# Construct A
A <- matrix(rnorm(10 * 7), 10, 7)
q <- apply(A, 1, quantile, probs = c(0.75),  na.rm = TRUE)
B <- A/q

In [183]:
stopifnot(all.equal(B[1,] * quantile(A[1,],probs=.75), A[1,]))

---

# Problem 12

Explain why the fifth expression gives a different result from the first four. What does that tell you in terms of using <- vs. = as the assignment operator?

In [ ]:
x <- 3
x<-3
x<- 3
x <-3
x< -3

The first four expressions use the '<-' assignment operator.  The fifth expression has a space in the middle, as in '< -', which  turns these into two operators less than '<' and negative '-'.

---

# Problem 13

The matrix object `state.x77` is built into the base R and contains information about the US states.

- Extract the names of the states from the matrix and shorten them to the first five characters.
- Rank the states according to their illiteracy rate.
- Use the function `paste` to create a vector with one element per state, where each element reads "STATE NAME has population of STATE POP, and a murder rate of MURDER", where the values of STATE NAME, STATE POP, and MURDER are taken from `state.x77`.
- Again, use the function `paste` to create a single string that reads "STATE1 has an income level of INCOME1, while STATE2 has an income of INCOME2", where STATE1 and STATE2 are two states that you randomly select each time you run your code, and INCOME1 and INCOME2 are the corresponding incomes.

In [122]:
# Extract the names of the states from the matrix 
# and shorten them to the first five characters.
substr( state.name , start = 1 , stop = 5 )

 [1] "Alaba" "Alask" "Arizo" "Arkan" "Calif" "Color" "Conne" "Delaw" "Flori"
[10] "Georg" "Hawai" "Idaho" "Illin" "India" "Iowa"  "Kansa" "Kentu" "Louis"
[19] "Maine" "Maryl" "Massa" "Michi" "Minne" "Missi" "Misso" "Monta" "Nebra"
[28] "Nevad" "New H" "New J" "New M" "New Y" "North" "North" "Ohio"  "Oklah"
[37] "Orego" "Penns" "Rhode" "South" "South" "Tenne" "Texas" "Utah"  "Vermo"
[46] "Virgi" "Washi" "West " "Wisco" "Wyomi"

In [129]:
# Rank the states according to their illiteracy rate.
state.x77[order(state.x77[,3],decreasing=TRUE),]

               Population Income Illiteracy Life Exp Murder HS Grad Frost
Louisiana       3806      3545   2.8        68.76    13.2   42.2     12
Mississippi     2341      3098   2.4        68.09    12.5   41.0     50
South Carolina  2816      3635   2.3        67.96    11.6   37.8     65
New Mexico      1144      3601   2.2        70.32     9.7   55.2    120
Texas          12237      4188   2.2        70.90    12.2   47.4     35
Alabama         3615      3624   2.1        69.05    15.1   41.3     20
Georgia         4931      4091   2.0        68.54    13.9   40.6     60
Arkansas        2110      3378   1.9        70.66    10.1   39.9     65
Hawaii           868      4963   1.9        73.60     6.2   61.9      0
Arizona         2212      4530   1.8        70.55     7.8   58.1     15
North Carolina  5441      3875   1.8        69.21    11.1   38.5     80
Tennessee       4173      3821   1.7        70.11    11.0   41.8     70
Kentucky        3387      3712   1.6        70.10    10.6   38.5     95
Alaska           365      6315   1.5        69.31    11.3   66.7    152
New York       18076      4903   1.4        70.55    10.9   52.7     82
Virginia        4981      4701   1.4        70.08     9.5   47.8     85
West Virginia   1799      3617   1.4        69.48     6.7   41.6    100
Florida         8277      4815   1.3        70.66    10.7   52.6     11
Rhode Island     931      4558   1.3        71.90     2.4   46.4    127
California     21198      5114   1.1        71.71    10.3   62.6     20
Connecticut     3100      5348   1.1        72.48     3.1   56.0    139
Massachusetts   5814      4755   1.1        71.83     3.3   58.5    103
New Jersey      7333      5237   1.1        70.93     5.2   52.5    115
Oklahoma        2715      3983   1.1        71.42     6.4   51.6     82
Pennsylvania   11860      4449   1.0        70.43     6.1   50.2    126
Delaware         579      4809   0.9        70.06     6.2   54.6    103
Illinois       11197      5107   0.9        70.14    10.3   52.6    127
Maryland        4122      5299   0.9        70.22     8.5   52.3    101
Michigan        9111      4751   0.9        70.63    11.1   52.8    125
Missouri        4767      4254   0.8        70.69     9.3   48.8    108
North Dakota     637      5087   0.8        72.78     1.4   50.3    186
Ohio           10735      4561   0.8        70.82     7.4   53.2    124
Colorado        2541      4884   0.7        72.06     6.8   63.9    166
Indiana         5313      4458   0.7        70.88     7.1   52.9    122
Maine           1058      3694   0.7        70.39     2.7   54.7    161
New Hampshire    812      4281   0.7        71.23     3.3   57.6    174
Wisconsin       4589      4468   0.7        72.48     3.0   54.5    149
Idaho            813      4119   0.6        71.87     5.3   59.5    126
Kansas          2280      4669   0.6        72.58     4.5   59.9    114
Minnesota       3921      4675   0.6        72.96     2.3   57.6    160
Montana          746      4347   0.6        70.56     5.0   59.2    155
Nebraska        1544      4508   0.6        72.60     2.9   59.3    139
Oregon          2284      4660   0.6        72.13     4.2   60.0     44
Utah            1203      4022   0.6        72.90     4.5   67.3    137
Vermont          472      3907   0.6        71.64     5.5   57.1    168
Washington      3559      4864   0.6        71.72     4.3   63.5     32
Wyoming          376      4566   0.6        70.29     6.9   62.9    173
Iowa            2861      4628   0.5        72.56     2.3   59.0    140
Nevada           590      5149   0.5        69.03    11.5   65.2    188
South Dakota     681      4167   0.5        72.08     1.7   53.3    172
               Area
Louisiana       44930
Mississippi     47296
South Carolina  30225
New Mexico     121412
Texas          262134
Alabama         50708
Georgia         58073
Arkansas        51945
Hawaii           6425
Arizona        113417
North Carolina  48798
Tennessee       41328
Kentucky        39650
Alaska         566432
New York        47831
Virginia        39780
West Virginia   24070
Florida         54090
Rhode Island     1049
California     156361
Connecticut      4862
Massachusetts    7826
New Jersey       7521
Oklahoma        68782
Pennsylvania    44966
Delaware         1982
Illinois        55748
Maryland         9891
Michigan        56817
Missouri        68995
North Dakota    69273
Ohio            40975
Colorado       103766
Indiana         36097
Maine           30920
New Hampshire    9027
Wisconsin       54464
Idaho           82677
Kansas          81787
Minnesota       79289
Montana        145587
Nebraska        76483
Oregon          96184
Utah            82096
Vermont          9267
Washington      66570
Wyoming         97203
Iowa            55941
Nevada         109889
South Dakota    75955

In [135]:
# Use the function `paste` to create a vector 
# with one element per state, where each element 
# reads "STATE NAME has population of STATE POP, 
# and a murder rate of MURDER", where the values 
# of STATE NAME, STATE POP, and MURDER are taken 
# from `state.x77`.
paste(state.name, "has population of", state.x77[,1],"and a murder rate of", state.x77[,5],sep = " ")

 [1] "Alabama has population of 3615 and a murder rate of 15.1"
 [2] "Alaska has population of 365 and a murder rate of 11.3"
 [3] "Arizona has population of 2212 and a murder rate of 7.8"
 [4] "Arkansas has population of 2110 and a murder rate of 10.1"
 [5] "California has population of 21198 and a murder rate of 10.3"
 [6] "Colorado has population of 2541 and a murder rate of 6.8"
 [7] "Connecticut has population of 3100 and a murder rate of 3.1"
 [8] "Delaware has population of 579 and a murder rate of 6.2"
 [9] "Florida has population of 8277 and a murder rate of 10.7"
[10] "Georgia has population of 4931 and a murder rate of 13.9"
[11] "Hawaii has population of 868 and a murder rate of 6.2"
[12] "Idaho has population of 813 and a murder rate of 5.3"
[13] "Illinois has population of 11197 and a murder rate of 10.3"
[14] "Indiana has population of 5313 and a murder rate of 7.1"
[15] "Iowa has population of 2861 and a murder rate of 2.3"
[16] "Kansas has population of 2280 and a murder rate of 4.5"
[17] "Kentucky has population of 3387 and a murder rate of 10.6"
[18] "Louisiana has population of 3806 and a murder rate of 13.2"
[19] "Maine has population of 1058 and a murder rate of 2.7"
[20] "Maryland has population of 4122 and a murder rate of 8.5"
[21] "Massachusetts has population of 5814 and a murder rate of 3.3"
[22] "Michigan has population of 9111 and a murder rate of 11.1"
[23] "Minnesota has population of 3921 and a murder rate of 2.3"
[24] "Mississippi has population of 2341 and a murder rate of 12.5"
[25] "Missouri has population of 4767 and a murder rate of 9.3"
[26] "Montana has population of 746 and a murder rate of 5"
[27] "Nebraska has population of 1544 and a murder rate of 2.9"
[28] "Nevada has population of 590 and a murder rate of 11.5"
[29] "New Hampshire has population of 812 and a murder rate of 3.3"
[30] "New Jersey has population of 7333 and a murder rate of 5.2"
[31] "New Mexico has population of 1144 and a murder rate of 9.7"
[32] "New York has population of 18076 and a murder rate of 10.9"
[33] "North Carolina has population of 5441 and a murder rate of 11.1"
[34] "North Dakota has population of 637 and a murder rate of 1.4"
[35] "Ohio has population of 10735 and a murder rate of 7.4"
[36] "Oklahoma has population of 2715 and a murder rate of 6.4"
[37] "Oregon has population of 2284 and a murder rate of 4.2"
[38] "Pennsylvania has population of 11860 and a murder rate of 6.1"
[39] "Rhode Island has population of 931 and a murder rate of 2.4"
[40] "South Carolina has population of 2816 and a murder rate of 11.6"
[41] "South Dakota has population of 681 and a murder rate of 1.7"
[42] "Tennessee has population of 4173 and a murder rate of 11"
[43] "Texas has population of 12237 and a murder rate of 12.2"
[44] "Utah has population of 1203 and a murder rate of 4.5"
[45] "Vermont has population of 472 and a murder rate of 5.5"
[46] "Virginia has population of 4981 and a murder rate of 9.5"
[47] "Washington has population of 3559 and a murder rate of 4.3"
[48] "West Virginia has population of 1799 and a murder rate of 6.7"
[49] "Wisconsin has population of 4589 and a murder rate of 3"
[50] "Wyoming has population of 376 and a murder rate of 6.9"

In [146]:
# Again, use the function `paste` to create a 
# single string that reads "STATE1 has an income 
# level of INCOME1, while STATE2 has an income 
# of INCOME2", where STATE1 and STATE2 are two 
# states that you randomly select each time you 
# run your code, and INCOME1 and INCOME2 are the 
# corresponding incomes.

i1 <- sample(1:50,1) 
i2 <- sample(1:50,1) 

paste(state.name[i1], 'has an income of', state.x77[i1, "Income"], 'while',
      state.name[i2], 'has an income of', state.x77[i2, "Income"], sep= ' ')

[1] "Texas has an income of 4188 while Wyoming has an income of 4566"