Before you turn this problem set in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All). Note that in code sections, you must replace `stop("Not Implemented")` with your code. Otherwise, you will have points automatically deducted in the grading process.

**Please do not rename this file.**

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER/EXPLANATION HERE", as well as your name below:

In [1]:
NAME = "Nora Rossana Maguina Conde"

---

# Problem 1

The data frame `iris` is built into base R. Write code to create two data frames:

- One data frame with only the setosa and virginica species. Give this data frame the name `SV`. Remove the `Petal.Width` variable from the data frame.
- One data frame with only the versicolor and virginica species. Give this data frame the name `VV`. Remove the `Sepal.Length` variable from this data frame. 

Hint: This is easiest using the `subset` function.

In [2]:
# Load the data into the R workspace
data("iris") # Note that the data frame name must be in quotes
# YOUR CODE HERE
sv <- subset(iris, Species == "setosa" | Species == "virginica")
subset(sv, select = -Petal.Width)
vv <- subset(iris, Species == "versicolor" | Species == "virginica")
subset(vv, select = -Sepal.Length)

ERROR: Error in eval(expr, envir, enclos): Not Implemented

Note that the `iris` dataset includes 50 observations from each of the three species.

In [ ]:
table(iris$Species)

Explain why the following merge has 66 observations for the virginica species.

In [ ]:
SV_VV_merge <- merge(SV,VV,all=TRUE)
table(SV_VV_merge$Species)

It's because the output is giving me an extra row for each row that has not exact matching.

---

# Problem 2

Create a new environment named `giga`, and within this environment, create the following objects:

- A numeric vector of all of the numbers between 1 and 5 named `a`
- A logical (TRUE/FALSE) vector with 5 elements. Name this vector `b`.
- A $3 \times 2$ character matrix of your favorite colors (Pro tip: Base R recognizes 657 colors and hues by name, including `cornflowerblue`. You can see all of these names by running the command `colors()`.). Name this character matrix `my_cols`.
- An environment named `mega`, which contains a numeric vector of all of the numbers between 6 and 9 named `a`.

In [ ]:
# YOUR CODE HERE
giga <- new.env()
giga$a <- 1:5
giga$b <- c(FALSE, TRUE, TRUE, TRUE, FALSE)
giga$my_cols <- matrix(c("white", "red", "blue", "green", "coral", "gold"), nrow=3, ncol=2)
giga$mega <- new.env(); mega$a = 6:9

What does the message following this code mean?

In [ ]:
attach(giga)
attach(mega)

The attach(x) command tells R that one will be working only within that environment "x". The message I get is: The following object is masked _by_ .GlobalEnv: a
It means that the object is coming from a different environment.

Let's detach the environments again.

In [ ]:
detach(mega)
detach(giga)

Why doesn't this work?

In [ ]:
attach(mega)
attach(giga)

Because there is an object with the same name in both environments (object "a")

---

# Problem 3

For this problem, you will need the `Grade_Example.xlsx` file, which will be posted on Canvas. This Excel workbook contains three sheets, `Worksheets_and_Quizzes`, `Labs`, and `Exams`. Make the appropriate adjustments to the Excel spreadsheet and read each of the three sheets into three data frames, named `quiz`, `lab`, and `exam`, respectively. Note that there is a header for all of these sheets in Excel. The data in this workbook includes a student's unique ID and their grades on assignments and exams in an elementary statistics class.

In [ ]:
# YOUR CODE HERE
quiz = read.table(file="Quizzes.csv", sep = ",", header = TRUE)
lab = read.table(file="Labs.csv", sep = ",", header = TRUE)
exam = read.table(file="Exams.csv", sep = ",", header = TRUE)

The following code performs a left join and a right join on the lab and quiz data frames. Why does the left join have fewer rows than the right join?

In [ ]:
left <- merge(lab,quiz,all.x=TRUE)
right <- merge(lab,quiz,all.y=TRUE)
dim(left)
dim(right)

The left join has fewer rows thant the right join because in the case of the "right" element the command is telling that all quiz' rows have a matching row with lab' rows, which is not true, that is why it adds an additional row. Lab has 28 rows, whereas quiz has 29 rows.

Join all three data frames together into one data frame names `grades`. Be sure that all of the students are included in the `grades` data frame!

In [5]:
# YOUR CODE HERE
right <- merge(lab, quiz, all.y=TRUE)
grades <- merge(right, exam, all=TRUE)
grades[is.na(grades)] <- 0 #Change the grades data frame so that the missing data (NA) are all zeros.

ERROR: Error in merge(lab, quiz, all.y = TRUE): object 'lab' not found

Change the `grades` data frame so that the missing data (`NA`) are all zeros.

Hint: Use the `is.na` function in R to identify which cells in the data frame are missing data.

In [ ]:
# This will test to see that you have the correct number of students
stopifnot(dim(grades)[1] == 29)

---

# Problem 4

If `b <- list(one = c("Santa","Cruz","California","UCSC","Go Slugs!"), two = 1:5, three=c(FALSE,FALSE,TRUE))`, write an R expression that will give all elements, except the second, of `b`.

In [ ]:
b <- list(one = c("Santa","Cruz","California","UCSC","Go Slugs!"), two = 1:5, three=c(FALSE,FALSE,TRUE))
# YOUR CODE HERE
b[c(1,3)]

---

# Problem 5

Let `my_text <- "University of California, Santa Cruz"`. Write code to split this string and return the following output:

```
[[1]]
[1] "University of California"

[[2]]
[1] "Santa Cruz"
```

In [ ]:
my_text <- "University of California, Santa Cruz"
# YOUR CODE HERE
as.list(strsplit(my_text, ",") [[1]])

---

# Problem 6

For the following code, matrix-multiply the second and fourth list elements together. Name the matrix product `bayes`.

In [6]:
set.seed(8675309) # This ensures that the random numbers generated are the same for everyone
the_list <- list(
    abel = "bayesian",
    abc = matrix(rnorm(6),3,2),
    tommy = "jenny",
    def = matrix(rnorm(6),2,3))
# YOUR CODE HERE
bayes <- the_list$abc %*% the_list$def
bayes

Now test to see that `bayes` has the correct dimensions.

In [ ]:
set.seed(8675309)
stopifnot(dim(bayes) == c(3,3))

---

# Problem 7

The list `x` appears in R as

In [ ]:
x <- list(do = c(1,9,6,5),
         re = c("me","fa","so"),
         la = c("ti","do"))
x

Replace the character string 'me' with the string 'mi'.

In [ ]:
# YOUR CODE HERE
sub("me", "mi", x)

In [ ]:
# This chunk tests that the replacement worked

---

# Problem 8

Why does the following code produce an error?

In [ ]:
santa_cruz <- new.env(
    pizza = "pizza my heart",
    thai = "sabieng",
    beach = "its",
    school = "ucsc",
    park = "wilder")

Change something in the first line to have the code assign the correct character strings to each name within an R object.

In [ ]:
# YOUR CODE HERE
santa_cruz <- list(
    pizza = "pizza my heart",
    thai = "sabieng",
    beach = "its",
    school = "ucsc",
    park = "wilder")

Now test to see if it worked.

In [ ]:
stopifnot(santa_cruz$beach == 'its')

---

 # Problem 9
 
 The `Titanic` data set is available in base R. It contains class, sex, and age information, as well as the number of people in each group that survived and died. Groups are defined by their class, sex, and age. Use this data to answer the following questions. First, find the total number of passengers in each group using the `aggregate` function. Name the aggregated data frame `total`.

In [ ]:
data("Titanic")
Titanic_df <- as.data.frame(Titanic)
# YOUR CODE HERE
total <- aggregate(data = Titanic_df, Freq ~ Class + Sex + Age, FUN = sum )

Now `merge` this aggregated data frame with the original data frame, effectively adding another column to the data frame. You should change the name of `Freq` column in `total` to `Total` before the merge so your merged data frame has interpretable column names. Name your merged data frame `merged_df`.

In [ ]:
# YOUR CODE HERE
names(total)[4] <- "Total"
merged_df <- merge(total, Titanic_df, all=TRUE)

You may notice that there are no children in the crew. Remove the rows of your data frame with a `Total` value of 0.

In [ ]:
# YOUR CODE HERE
merged_df <- merged_df[merged_df[,4]>0,]

Now use the `transform` function to find the porportion of each group that survived and died.

In [ ]:
# YOUR CODE HERE
transform(merged_df, Proportion = Freq/Total)

Did females have higher survival rates than males in all class and age groupings? In which grouping was the difference in proportions the largest?

Not always, adult females always have a higher survival rate than adult males, but child females sometimes have the same survival rate than chil males. The different in proportions was the largest between adult females and males of 2nd class.

---

# Problem 10

The following data set is made up to represent some experiment that tracks a control and a treatment through time.

In [ ]:
set.seed(95064)
time <- 1:25
made_up <- data.frame(time = time,
                      control = 0.45 + 0.1*time + rnorm(25,sd=0.2),
                      treatment = 0.47 + 0.15*time + rnorm(25,sd=0.2))
made_up

However, each row of the data frame does not correspond to a single observation, but two observations: one for the control and one for the treatment. Create a new data frame called `outcome` that has 50 rows where each row corresponds to a single observation. This new data frame should have two columns, one named `values` and another named `ind`.

In [ ]:
# YOUR CODE HERE
outcome <- stack(made_up, select = -time)

Now bind the time values and the `outcome` data frame together to create a $50 \times 3$ data frame with columns `time`, `values`, and `ind`. Name this new data frame `complete`.

In [ ]:
# YOUR CODE HERE
complete <- cbind(outcome, time)

If you completed the previous steps correctly, you should easily be able to plot with colors corresponding to the `ind` group. Make sure that the following code produces such a plot. There will be (much) more on plotting later in the course.

In [ ]:
plot(complete$time,complete$values,col=complete$ind,xlab = "Time",ylab = "Values",pch=19)
legend("topleft",legend = c("Control","Treatment"),col = 1:2,pch=19)